
<div class="container" style="margin-top: 10%;">
<div class="row">
<div class="col-md-3">
</div>
<div class="col-md-6 card card-body bg_primry">


 <center><h4 class="card-title">Log in</h4></center>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<%= render "users/shared/error_messages", resource: resource %>
  <div class="form-group">
   <label for="exampleInputEmail1">Email</label>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control",required: "true" %>
  </div>

  <div class="form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control",required: "true" %>
  </div>
<div class="row">
  <div class="col-md-6">
  <% if devise_mapping.rememberable? %>
    <div class="form-group">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>
</div>
 <div class="col-md-6 text-right">
  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name) %>
<% end %>
</div>
</div>

<div class="row">
  <div class="col-md-6">
      
        <%= f.submit "Log in" ,:class => "btn btn-primary" %>
      
  </div>
  <div class="col-md-6 text-right">
    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "Sign up", new_registration_path(resource_name),:class => "btn btn-danger" %>
<% end %>
  </div>
</div>
<% end %>

<%#= render "devise/shared/links" %>

</div>
<div class="col-md-3">
</div>
</div>
</div>


